/* Insert any CSS code below here */
h2{
  color: #803E3E;
  font-family: Georgia;
}

body{
  background-color: #FFDFAB
}

h1{
  color: #803E3E;
  font-family: Georgia;
  }

p{
  color: #6F5B36;
  font-size:17px;
}

li{
  color: #6F5B36;
  font-size: 17px;
  }

ol{
  background-color: #E2C897;
  color: #ECC885;
  font-size: 16px;
  font-family: Georgia;
  border: 2px;
  border-radius: 1%;
  border-color: #534326;
  border-style: double;
  padding: 30px;
}

